@import "tailwindcss";

.soujyukan{
    writing-mode:vertical-rl;
    padding: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shadow{
  box-shadow:none;
  transition: box-shadow 0.3s ease;
}
.shadow:hover{
  box-shadow: 0 0px 6px 0px rgba(0, 195, 255, 0.7);
}