.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  color: #e0e0e0;
  margin-bottom: 1rem;
}

canvas {
  border: 2px solid #333;
}

.soujyukan{
  writing-mode: vertical-rl;
}
